<section class="repositories">
  <header class="repositories__search search">
    <form class="search__form" [formGroup]="searchForm">
      <input
        type="text"
        placeholder="Search by name ... "
        class="search__input"
        name="search"
        formControlName="query"/>
    </form>
  </header>

  <ul *ngIf="filterRepositories?.length">
    <li *ngFor="let repositry of filterRepositories">
      <app-repository
        [repositry]="repositry"
      ></app-repository>
    </li>
  </ul>
  <p *ngIf="!filterRepositories?.length">No repositoris found</p>
</section>
